* {
    font-family: monospace;
    background-color: #fdf6e3;
}

button {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
}

input {
    padding: 0.5rem 1rem;
    border-radius: 5px;
}
